<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2111703013-uglk7bi713s1smlrudkhaaqro12akr01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2111703013-uglk7bi713s1smlrudkhaaqro12akr01</string>
	<key>API_KEY</key>
	<string>AIzaSyC3GCGEGWvxZvwCfgYxMQU5fN8ev48_Kxg</string>
	<key>GCM_SENDER_ID</key>
	<string>2111703013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tStore</string>
	<key>PROJECT_ID</key>
	<string>timetrackingsystem-2c383</string>
	<key>STORAGE_BUCKET</key>
	<string>timetrackingsystem-2c383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2111703013:ios:14769ca65073978600910c</string>
</dict>
</plist>